<html>

	<head>
		<title>{{channel}}</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
                <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<style>
                body{
                    font-family: 'Open Sans', sans-serif;
                    font-size:10pt;
	        }

		ul>li:nth-child(odd){
		    background-color: #EEEEEE;
		}

		ul{
		    list-style-type: none;
                    margin:0px;
		    padding:0px;
		}
	</style>

	<body>
		<div id='output'>
			<div style='float:left;width:100%;height:30px;background-color:#CFEFFA;font-size:14pt;font-weight:800;'>Channel: {{ channel }}</div>
			<ul id='list'>
			</ul>
		</div>
	</body>
	<script>

		$(document).ready(function(){

		    var socket = io.connect('http://' + document.domain + ':' + location.port);

		    console.log("Sending test message");
	            socket.emit('test', "Sample data: {{ channel }}");

		    socket.on('test', function(data) {
			console.log("Data from server: ");
			console.log(data);
			$('#list').append("<li>" + data + "</li>");
		    });

		});
	</script>

</html>

